desaturatedDarkCyan = hsl(180, 29%, 50%)
lightGrayishCyan = hsl(180, 52%, 96%)
lightGrayishCyan = hsl(180, 8%, 52%)
veryDarkGrayishCyan = hsl(180, 14%, 20%)

fontSize = 1.5rem

ffPrimary = 'Spartan', sans-serif

fwNormal = 500
fwBold = 700